* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {    
    background-color:  #0c192c;
}

.navegation {
    align-items: center;
    background: #0c192c;
    box-shadow: 0 0.1rem 0.5rem #fbf494;
    display:flex ;
    justify-content: space-between;
    padding: 18px 40px;
    position: fixed;
    width: 100%;
}

.navegation .logo {
    color: #ff1c91;
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span {
    color:#fbf494
}

.navegation ul {
    align-items: center;
    display: flex;
    gap: 5rem;
}

.navegation ul li a {
    color: #00c3da;
    font-size: 17px;
    font-weight: 500;
    transition: color 1s;
}

.navegation ul li a:hover {
    color:#fbf494;
}

.navegation ul i {
    color:#fbf494 ;
    cursor: pointer;
    font-size: 2rem;
}

.btn {
    border: 0px;
    background: none;
    cursor: pointer;
    display: none;
    height: 32px;
    position: relative;
    width: 24px;
}

.btn .barra {
    border-radius: 3px;
    background: #ff1c91;
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s;
    width: 28px;
}

.btn .barra:nth-child(2) {
    background: #fbf494;
}

.home {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    padding: 0px 10px;
    width: 100%;
}

.home_text {
    max-width: 37rem;
}

.home_text .text_h4 {
    color: #ff1c91;
    font-size: 1.7rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
} 

.home_text .text_h1 {
    color: #bade97;
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 4rem;
}

.home_text .big_button {
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(45deg, #ff1c91, #00c3da);
    color:#fbf494;
    cursor: pointer;
    font-weight: 600;
    padding: 15px 45px;
    transition: color 1s;
}

@keyframes pulsation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

.home_text .big_button:hover {
    background:#ff1c91;

    animation: pulsation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.home_img {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.home_img img {
    max-width: 15rem;
   margin: 12rem  2rem 1rem;
    
    padding-right: 2rem;
}

.home_img .text_p {
    color: #ff1c91;
    max-width: 10rem;
    text-align: center;
}

@media(max-width: 785px) {
    .navegation {
        padding: 18px 20px;
    }

    .btn {
        display: block;
    }

    .btn.active .barra:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .btn.active .barra:nth-child(2) {
        opacity: 0;
    }

    .btn.active .barra:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav_menu {
        background: #fbf494;
        flex-direction: column;
        gap: -10px;
        height: 100%;
        position: fixed;
        right: -100%;
        top: 70px;
        transition: all 0.3s;
        width: 100%;


    }
}



























