* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {   
    min-height: 100vh;
    background-color:  #0c192c;
}
 
.navegation {
    align-items: center;
    background: #0c192c;
    box-shadow: 0 0.1rem 0.5rem #fbf494;
    display: flex;
    justify-content: space-between;
    padding: 18px 40px;
    position: fixed;
    width: 100%;
}

.navegation .logo {
    color: #ff1c91;
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span {
    color:#fbf494
}

.navegation ul {
    align-items: center;
    display: flex;
    gap: 5rem;
}

.navegation ul li a {
    color: #00c3da;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.8s;
}

.navegation ul li a:hover {
    color:#fbf494;
    font-size: 18px;
    text-shadow: -0 -0.1rem 0.3rem #fbf494;
}

.navegation ul i {
    color:#fbf494 ;
    cursor: pointer;
    font-size: 2rem;
}

.btn {
    border: 0px;
    background: none;
    cursor: pointer;
    display: none;
    height: 32px;
    position: relative;
    width: 24px;
}

.btn .bar {
    border-radius: 3px;
    background: #ff1c91;
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: all 0.7s;
    width: 28px;
}

.btn .bar:nth-child(2) {
    background: #fbf494;
}

.home {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    padding: 0px 10%;
    width: 100%;
}

.home_text {
    max-width: 37rem;
}

.home_text .text_h4 {
    color: #ff1c91;
    font-size: 1.7rem;
    margin-bottom: 1rem;
} 

.home_text .text_h1 {
    color: #bade97;
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 4rem;
}

.home_text .big_button {
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(45deg, #ff1c91, #00c3da);
    color:#fbf494;
    cursor: pointer;
    font-weight: 600;
    padding: 15px 45px;
    transition: color 1s;
}

@keyframes pulsation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

.home_text .big_button:hover {
    background:#ff1c91;

    animation: pulsation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.home_img {
    align-items: center;
    display: flex;

}

.home_img img {
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem  #fbf494;
    max-height: 400px ;
    max-width: 15rem;
    margin: 10rem  2rem 2rem;
}

.home_img .text_p {
    color: #fbf494;
    max-width: 10rem;
    text-align: center;
}

.bubbles {
    display: flex;
    position: absolute;
    z-index: -1;
}

.bubbles span {
    background: #e5ff00;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0 4px;
    box-shadow: 0 0 0 10px #e5ff0044,
                0 0 50px #e5ff00,
                0 0 100px #e5ff00;
    animation: colored_balls calc(130s / var(--i)) linear 2;
                                       
}

@keyframes colored_balls {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

.bubbles span:nth-of-type(even) {
    background: #2dc3ff;
    box-shadow: 0 0 0 10px #2dc3ff44,
    0 0 50px #2dc3ff,
    0 0 100px #2dc3ff 
}


@media(max-width: 785px) {
    .bubbles {
        width: 100%;
    }

    .bubbles .none {
        display: none;        
    }

    .navegation {
        padding: 18px 20px;
    }

    .btn {
        display: block;
    }

    .btn.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .btn.active .bar:nth-child(2) {
        opacity: 0;
    }

    .btn.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav_menu {
        background:#0c192c;
        flex-direction: column;
        gap: -10px;
        height: 100%;
        position: fixed;
        right: -100%;
        top: 70px;
        transition: all 0.8s;
        width: 100%;
    }

    .nav_menu.active {
        right: 0;
    }

    .nav_menu .nav_item  {
        margin: 16px 0;
    }

    .navegation ul li a:hover {
        color:#fbf494;
        font-size: 18px;
        text-shadow: -0 -0.1rem 0.3rem #fbf494;
    }
    
    .home {
        flex-direction: column;
        gap: 5rem;
        padding: 100px 2px;
        text-align: center;
    }

    .home .home_text .text_h4 {
        font-size: 18px;
    }

    .home .home_text .text_1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home .home_img img {
        margin: 2rem 1rem;
    }

    .home .home_text .big_button {
        margin-bottom: 4rem;
    }

    .home .home_text .text_h4 {
        margin-top: 6rem;
    }
}



























